@{
    ViewBag.Title = "Despre Noi";
}
<h2>@ViewBag.Title</h2>

<br /><br /><br />
<p>
    Această unealtă dă deținătorilor de site-uri pe portalul Caută Răspunsurile posibilitatea să creeze unul sau
    mai multe forumuri de discuții, pe teme legate de domeniul IT, fiind deschis atât școlarilor, liceenilor, cât și
    celor care deja lucrează în acest domeniu.
</p>
<br />
<br />
<p>
    Ce face acest Forum diferit de restul forumurilor? Anonimatul de care ai parte. Mai știi reținerile alea pe care le aveai
    în liceu sau la facultate atunci cînd era vorba să ieți la tablă sau să răspunzi? Treci peste toate acele emoții și senzații
    și postează liber pe aces forum, ai grijă totuși limbajul licențios nu este permis și atrage cu sine Ștergerea postării sau a comentariului
    de un Admin.
</p>




