
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Caută Răspunsurile</h1>
    <p class="lead">”Caută Răspunsurile” este un forum de discuții dedicat persoanelor de toate vârstele, începând chiar de la clasele primare. Care este condiția? Nu exsită. Tot ce trebuie să faci este să postezi întrebări cu nelămuririle tale și să aștepți ca restul utilizatorilor să-ți răspunda!</p>
    <p><a href="https://forum.softpedia.com/topic/1129341-informatica/" class="btn btn-primary btn-lg">Alte siteuri din aceeași sferă &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Caută forumuri cu același subiect de interes cu al tău</h2>
        <p>
            Platforma noastră este aici să te ajute în rezolvarea problemelor pe care le întâmpini atunci când vine vorba de rezolvarea problemelor, fie că studiezi informatica sau o consideri un hobby. Caută printre postările deja existente, vezi ce utilizatori au mai întâmpinat aceeași problemă și ce soluții au găsit.
        </p>
        <p><a class="btn btn-default" href="/Forums/Index">Mergi la Forumuri &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creează-ți propriul Forum</h2>
        <p>Ai căutat și nu ai găsit ce te interesează? Crează un nou forum, cu un nou topic și așteaptă ca restul utilizatorilor să răspundă întrebărilor.</p>
        <p><a class="btn btn-default" href="/Forums/New">Creează un nou forum &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creează-ți propria rețea și adaugă-ți prieteni!</h2>
        <p>Dacă ți-au plăcut sau te-au ajutat răspunsurile primite de la alți utilizatori, adaugă-i în lista ta de prieteni.</p>
        <p><a class="btn btn-default" href="/FriendRequests/AddFriend">Adaugă prieteni &raquo;</a></p>
    </div>
</div>